---
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const planetFiles = await Astro.glob('../content/*.md');

    return planetFiles.map(planet => ({
        params: { id: planet.frontmatter.planet_id },
        props: { planet },
    }));
}

const { planet } = Astro.props;
---

<BaseLayout title={`Planet ${planet.frontmatter.planet_id}: ${planet.frontmatter.name}`}>
    <div class="container">
        <h1>Planet #{planet.frontmatter.planet_id}: {planet.frontmatter.name}</h1>
        <p><strong>Scientific Name:</strong> <em>{planet.frontmatter.scientific_name}</em></p>
        <p><strong>Type:</strong> {planet.frontmatter.type}</p>
        <p><strong>Biome:</strong> {planet.frontmatter.biome}</p>
        <p><strong>Gravity Source:</strong> {planet.frontmatter.gravity_source}</p>

        <h2>Description</h2>
        <p>{planet.frontmatter.description}</p>

        <h2>Lore</h2>
        {planet.compiledContent()}

    </div>
</BaseLayout> 